@model ProjektPAI.Models.Building

<form method="post">
    <input asp-for="Name" placeholder="Nazwa" />
    <input asp-for="Description" placeholder="Opis" />
    <input asp-for="PhotoUrl" placeholder="URL zdjęcia" />
    <button type="submit">Zapisz</button>
</form>
