@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>W dokumencie Polityka prywatności należy opisać co najmniej:</p>
<ul>
    <li>w jakim celu witryna pozyskuje dane,</li>
    <li>jakie dane są zbierane od użytkowników i w jaki sposób,</li>
    <li>kto jest administratorem danych osobowych,</li>
    <li>jaki jest zakres przetwarzania danych osobowych użytkowników,</li>
    <li>czy dane te są udostępniane w celach marketingowych,</li>
    <li>jakie obowiązują procedury dotyczące ochrony i bezpieczeństwa danych,</li>
    <li>w jaki sposób skontaktować się z właścicielem witryny.</li>
</ul>